<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-03-24T20:16:31Z</date>
	<key>WorkspacePath</key>
	<string>/Users/EliMasjedi/Desktop/ios-team/Anonymouse/Anonymouse.xcworkspace</string>
</dict>
</plist>
