<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CryptoSwift OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CryptoSwift iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CryptoSwift tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CryptoSwift watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5596BDBA1BC8F220007E38D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>754BE45419693E190098E6F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>754BE45F19693E190098E6F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75D614921BD844F2001358B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75DF77461BC8EB59006E9520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
